params {
    outdir = "output"
    samplesheet = "samplesheet.csv"
}

includeConfig "conf/resourceLabels.config"

docker {
    enabled = true
}

process {
    container = "ubuntu:22.04"
}


manifest {
    name            = "Bob's Pipeline"
    author          = 'Stephen Kelly'
    description     = 'Hamburger making workflow'
    mainScript      = 'main.nf'
}